<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snicket.premsourav.bingo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="com.snicket.premsourav.bingo.CountProvider"
            android:authorities="www.count.com"
            android:exported="true" />

        <activity
            android:name="com.snicket.premsourav.bingo.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.snicket.premsourav.bingo.Fill1"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snicket.premsourav.bingo.Fill2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snicket.premsourav.bingo.SinglePlay"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snicket.premsourav.bingo.PlayGame"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snicket.premsourav.bingo.SinglePlayEasy"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snicket.premsourav.bingo.SinglePlayMed"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snicket.premsourav.bingo.PlayGameEasy"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snicket.premsourav.bingo.PlayGameMed"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snicket.premsourav.bingo.SPlay1"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snicket.premsourav.bingo.SPlay2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snicket.premsourav.bingo.BackDialog2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snicket.premsourav.bingo.BackDialog"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snicket.premsourav.bingo.Multi"
            android:screenOrientation="portrait" />
        >
        <activity android:name="com.snicket.premsourav.bingo.Splash" android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>